h1 {
    text-align: center;
}

.container {
    display: grid;
    justify-items: center;
    width: 100vw;

}

label {
    margin: 0 0 10px 0;
    color: #FFF;
}

.sub-container {
    display: grid;
    justify-items: center;
    margin: 20px 0;
}

.container input, .container textarea {
    width: 100%;
    text-align: center;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.submit {
    background-color: #ffec3e; /* Green */
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display:grid;
    font-size: 1em;
    margin: 10px 6px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
    width: 10%;
    height: auto;
    background-color: white; 
    color: black; 
    border: 2px solid #cecb2c;
}


.submit:hover {
    background-color: #cecb2c;
    color: rgb(0, 0, 0);
}

button {
    margin: 5px;
}
